#blog-card {
    background-color: #ffffff;
    padding: 1rem 2rem;
    margin: 2rem 0 0 0;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#blog-card img {
    max-width: 100%;
    border-radius: 12px;
}


.read-btn {
    width: 40%;
    border: none;
    background-color: #7c4dff;
    color: #ffffff;
    padding: 0.8rem 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 10rem 0;
    text-decoration: none;
}


.read-btn:hover {
    width: 40%;
    border: 2px solid #7c4dff;
    background-color: #ffffff;
    color: #7c4dff;
    padding: 0.8rem 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 10rem 0;
    text-decoration: none;
}
.btn-section {
    margin:2rem 0 1rem 0;
}
@media (min-width: 991.98px) { 
    #blog-card {
        background-color: #ffffff;
        padding: 1rem 2rem;
        margin: 0;
        border-radius: 12px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    
    #blog-card img {
        max-width: 100%;
        border-radius: 12px;
    }
    
    
    .read-btn {
        width: 40%;
        border: none;
        background-color: #7c4dff;
        color: #ffffff;
        padding: 0.8rem 0.6rem;
        border-radius: 8px;
        cursor: pointer;
        margin: 10rem 0;
        text-decoration: none;
    }
    
    
    .read-btn:hover {
        width: 40%;
        border: 2px solid #7c4dff;
        background-color: #ffffff;
        color: #7c4dff;
        padding: 0.8rem 0.6rem;
        border-radius: 8px;
        cursor: pointer;
        margin: 10rem 0;
        text-decoration: none;
    }
    .btn-section {
        margin:2rem 0 1rem 0;
    }
 }