@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$faint-white: #F1F1F1;
$primary-color: #151517;
$primary-color-light: #828282;
$secondary-color: #EEBF63;
$faint-green: #6FC2C5;

$main-font-family: 'Poppins', sans-serif;